<!--The content below is only a placeholder and can be replaced.-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="src/assets/header1barber.jpg" class="logo">
          </a>
          <span class="navbar-brand">Twinz Barber Shop</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
            Home <span class="sr-only">(current)</span>
          </a></li>
          <li><a href="#">Our Story</a></li>
          <li class="dropdown" dropdown> <!-- {1} -->
              <a dropdownToggle role="button"> <!-- {2} -->
                Barbers <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                  <li><a href="#">Alex</a></li>
                  <li><a href="#">B.Rose</a></li>
           
              </ul>
          </li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Make Appointment</a></li>
      </ul>
  </div>
</nav>

